<% provide :page_title, 'All questions' %>

<h1 class="mb-4">Question</h1>
<%= paginate @questions %>

<% @questions.each do |question| %>
  <article class="card">
    <div class="card-body">
      <h2><%= question.title %></h2>

      <section class="card-text">
        <time datetime="<%= question.formatted_created_at %>">
          <small><%= question.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
        </time>

        <p>
          <%= truncate question.body, length: 150 %>
        </p>
      </section>

    <%= link_to 'Show', question_path(question), class: 'btn btn-primary' %>
    <%= link_to 'Edit', edit_question_path(question), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', question_path(question), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure?'} %>
    </div>
  </article>
<% end %>
<%= paginate @questions %>