<% provide :page_title, t('question.que') %>

<div class="mb-3">
  <%= gravatar_for @question.user %>
  <%= @question.user.email %>
</div>

<time datetime="<%= @question.created_at %>">
  <%= l @question.created_at, :format => :long %>
</time>


<h2 class="mb-4"><%= @question.title %></h2>

<p class="lead my-3">
  <%= @question.body %>
</p>

<p class="lead my-3">
  <%= link_to(image_tag(@question.photo.thumb.url, alt: 'Photo'), @question.photo.url, target: '_blank') if @question.photo? %>
</p>

<% unless @question.aasm_state == "no_active" %>
  <h2 class="mt-5"><%= t('answer.head') %></h2>
  <%= paginate @answers  %>

  <% @answers.each do |answer| %>
    <article class="mb-3 card">
      <div class="card-body">
        <section class="card-text">
          <div class="mb-3">
            <%= gravatar_for answer.user %>
            <%= answer.user.email %>
          </div>

          <time datetime="<%= answer.created_at %>">
            <%= l answer.created_at, :format => :long %>
          </time>

          <p class="mt-2 mb-3">
            <%= answer.body %>
          </p>
        </section>
        <% if policy(answer).destroy? %>
          <%= link_to t('btn.delete'), question_answer_path(@question, answer), class: 'btn btn-danger btn-sm', data: {method: :delete, confirm: t('global.dialog.you_sure')} %>
        <% end %>

        <% if policy(answer).edit? %> 
          <%= link_to t('btn.edit'), edit_question_answer_path(@question, answer), class: 'btn btn-info btn-sm' %>
        <% end %>
      </div>
    </article>
  <% end %>

  <%= paginate @answers %>

  <hr class="my-3">

  <h2><%= t('answer.write_answer') %></h2>

  <%= render 'answers/form_answers' %>
<% end %>