 <% provide :page_title, t('admin.page') %>

<h1 class="mb-4"><%= t('admin.page') %></h1>
<%= paginate @users %>
<table class="table table-stred table-hover">
  <thead>
     <tr>
       <th scope="col">#</th>
       <th scope="col"><%= t('admin.email') %></th>
       <th scope="col"><%= t('admin.role') %></th>
       <th scope="col"><%= t('admin.create') %></th>
     </tr>
  </thead>
  <tbody>
     <%=render @users%>
  </tbody>
</table>
<%= paginate @users %>